header {
  position: static;
  background-color: #033c5a;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  padding: 10px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img {
    float: left;
    top: 25%;
    width: 100px;
    height: 100px;
}

header h1 {
    position: relative;
    top: 25%;
    left: 20px;
    margin-left: 0px;
}

header nav {
  font-size: 20px;
  text-align: center;
}

header #search-box {
  text-align: right;
}

#hero-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-main-header {
  font-size: 50px;
  color: #FFFFFF;
}

#hero-sub-header {
  font-size: 25px;
  color: #FFFFFF;
}

button {
  padding: 5px 15px; 
  background: #033c5a;
  color: #ffffff;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  padding: 5px 15px;
  background: #ffffff;
  border: 2px #033c5a;
  color: #033c5a;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  padding: 20px;
}

body {
    background-color: #ffffff;
  }

section {
    text-align: center;
}
  
h1 {
  margin-left: 20px;
}

footer {
  position: relative;
  background-color: #033c5a;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#copyright-notice {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  text-decoration: none;
}

a:link, a:visited {
    color:#ffffff; 
    text-decoration: none; 
    cursor: pointer;
}

a:hover {
  color:#ffffff94; 
  text-decoration: none; 
  cursor: pointer;
}

input[type = submit] {
    padding: 5px 15px; 
    background: #cccccc; 
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
}

body, html {
    height: 100%;
}